{:db {
      :dbtype "postgresql"
      :dbname "same-day-different-lives"
      ; :username ""
      ; :password "" 
      } 
 :behind-proxy? ; true or false
 :email {:link-prefix "http://..."
         :from "Same Day Different Lives Robot <...>"
         :server {:host ""
                  :user ""
                  :pass ""
                  :ssl true}}}
